h1 {
    font-family: sans-serif;
    font-size: 14px;
    background-color: rgb(241, 73, 73);
}

h2 {
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(241, 73, 73);
}

h3 {
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(241, 73, 73);
}

h4 {
    font-family: sans-serif;
    font-size: 11px;
    background-color: rgb(241, 73, 73);
}