.forms {
    text-indent: 30px;
    background-color: darkgray;
    padding: 5px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 0 25px 0 0;
    margin-top: 1px;
    margin-bottom: 2px;
}

span {
    visibility: hidden;
}

a:hover span {
    visibility: visible;

}