table {
    border: solid black 3px;
    border-collapse: collapse;
}

td, tr {
    width: 50px;
    height: 50px;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even) td:nth-child(even) {
    background-color: black;
}




