ul.rimskie {
    list-style-type: upper-roman;
    width: 350px;
    font-weight: bold;
}
ul.i{
    list-style-type: lower-roman;
    width: 350px;
    font-weight: normal;
}
div {
    background: black;
    width: 400px;
    /* не понял как поставить максимальную высоту контейнера: 4-е строки */
    overflow: auto;

}
code {
    color: green;
}

