@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

h4.example,
div.addres,
div.send {
    text-align: right;
}

div.addres {
    font-style: italic;
    font-weight: 450;
}

p.content,
p.dear {
    text-indent: 20px;
    font-family: 'Bad Script', cursive;
}

p.dear {
    text-decoration: underline;
    font-size: large;
    font-weight: bold
}